<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
    <script src="../lib/vue.js"></script>
</head>
<body>
<div id="demo">
    <h2>测试: v-for 遍历数组</h2>
    <ul>
        <!--第二个参数为数组的下标-->
        <li v-for="(p, index) in person" :key="index">
            {{index}}---{{p.name}}---{{p.age}}---<button @click="deleteP(index)">删除</button>---<button @click="updateP(index, {name: 'Cat', age: 20})">更新</button>

        </li>
    </ul>


    <h2>测试: v-for 遍历对象</h2>
    <ul>
        <li v-for="(value, key) in person[1]" :key="key">
            {{key}}---{{value}}
        </li>
    </ul>
</div>


<script>
    /*vue本身只监视了person的改变, 没有监视数组内部数据的改变*/
    //vue重写了数组中的一系改变数据内部数据的方法(先调用原生的, 然后更能界面)(变异方法)
    /*
    * 监听数据内部变化的变异方法:
    *   1. push: 推进, 增加
    *   2. pop: 弹出, 减少
    *   3. shift: 把所有元素往前移一位
    *   4. unshift: 把所有元素往后移一位
    *   5. splice: 移接, 可以对元素进行增删改
    *   6. sort: 对元素进行排序
    *   7. reverse: 对元素进行反转
    *
    *
    * */
    new Vue({
        el: '#demo',
        data: {
            person:[
                {name: 'Tom', age: 18},
                {name: 'Jack', age: 16},
                {name: 'Bob', age: 19},
                {name: 'Rose', age: 17},
            ]
        },
        methods: {
            deleteP(index){
                /*删除persons中index指定的p , 1表示移除一个元素*/
                this.person.splice(index, 1);
            },
            updateP(index, newP){
                /*仅仅这样子写是不会重新渲染, 因为person的引用并没有发生改变*/
                // this.person[index] = newP;

                /*splice: 移接   这是一个变异方法*/
                //原理是先删除一个元素， 然后新增一个元素， 如果第二个参数为0，则实现新增一个元素的功能
                this.person.splice(index,1, newP);
            }


        }

    })
</script>
</body>
</html>